In [26]:
import pandas as pd

In [27]:
call_files = ['class_data_2021.csv', 'class_data_2022.csv', 'class_data_2023.csv', 'class_data_2024.csv', 'class_data_2025.csv']
calls = pd.concat([pd.read_csv(f) for f in call_files], ignore_index=True)

C:\Users\trema\AppData\Local\Temp\ipykernel_18040\1595055428.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  calls = pd.concat([pd.read_csv(f) for f in call_files], ignore_index=True)
C:\Users\trema\AppData\Local\Temp\ipykernel_18040\1595055428.py:2: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  calls = pd.concat([pd.read_csv(f) for f in call_files], ignore_index=True)
C:\Users\trema\AppData\Local\Temp\ipykernel_18040\1595055428.py:2: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  calls = pd.concat([pd.read_csv(f) for f in call_files], ignore_index=True)
C:\Users\trema\AppData\Local\Temp\ipykernel_18040\1595055428.py:2: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  calls = pd.concat([pd.read_csv(f) for f in call_files], ignore_index=True)
C:\Users\trema\AppData\Local\Temp\ipykernel_18040\1595055428.py:2: DtypeWarning: Columns (4,16) have mixed types. Specify dtype option on import or set low_memory=False.
  calls = pd.concat([pd.read_csv(f) for f in call_files], ignore_index=True)

In [28]:
calls = calls[calls['primeunit'] == 'CAHOOT']
calls.head()

,yr,service,inci_id,calltime,case_id,callsource,nature,closecode,closed_as,secs_to_disp,secs_to_arrv,secs_to_close,disp,arrv,beat,priority,zip,primeunit,units_dispd,units_arrived
41,2021,LAW,21000078,2021-01-01 01:22:21.000,NaN,SELF,SUBJECT DOWN,ASST,ASSISTED,1.0,1.0,676,1,1,EP07,1,97401,CAHOOT,1,1
42,2021,LAW,21000083,2021-01-01 01:28:52.000,NaN,PHONE,TRAFFIC HAZARD,ASST,ASSISTED,288.0,558.0,2232,1,1,EP05,3,97402,CAHOOT,1,1
52,2021,LAW,21000111,2021-01-01 01:54:53.000,NaN,PHONE,ASSIST PUBLIC- POLICE,ASST,ASSISTED,1365.0,1665.0,3246,1,1,EP02,5,97401,CAHOOT,1,1
54,2021,LAW,21000118,2021-01-01 02:03:53.000,NaN,PHONE,TRAFFIC HAZARD,UTL,UNABLE TO LOCATE,132.0,NaN,790,1,0,EP03,3,97405,CAHOOT,1,1
57,2021,LAW,21000131,2021-01-01 02:20:48.000,NaN,PHONE,CHECK WELFARE,ASST,ASSISTED,1965.0,2186.0,2707,1,1,EP07,7,97401,CAHOOT,1,1

In [29]:
calls_time = calls[['calltime']]
calls.head()

,yr,service,inci_id,calltime,case_id,callsource,nature,closecode,closed_as,secs_to_disp,secs_to_arrv,secs_to_close,disp,arrv,beat,priority,zip,primeunit,units_dispd,units_arrived
41,2021,LAW,21000078,2021-01-01 01:22:21.000,NaN,SELF,SUBJECT DOWN,ASST,ASSISTED,1.0,1.0,676,1,1,EP07,1,97401,CAHOOT,1,1
42,2021,LAW,21000083,2021-01-01 01:28:52.000,NaN,PHONE,TRAFFIC HAZARD,ASST,ASSISTED,288.0,558.0,2232,1,1,EP05,3,97402,CAHOOT,1,1
52,2021,LAW,21000111,2021-01-01 01:54:53.000,NaN,PHONE,ASSIST PUBLIC- POLICE,ASST,ASSISTED,1365.0,1665.0,3246,1,1,EP02,5,97401,CAHOOT,1,1
54,2021,LAW,21000118,2021-01-01 02:03:53.000,NaN,PHONE,TRAFFIC HAZARD,UTL,UNABLE TO LOCATE,132.0,NaN,790,1,0,EP03,3,97405,CAHOOT,1,1
57,2021,LAW,21000131,2021-01-01 02:20:48.000,NaN,PHONE,CHECK WELFARE,ASST,ASSISTED,1965.0,2186.0,2707,1,1,EP07,7,97401,CAHOOT,1,1

In [30]:
calls['date'] = pd.to_datetime(calls_time['calltime']).dt.date
calls.head()

,yr,service,inci_id,calltime,case_id,callsource,nature,closecode,closed_as,secs_to_disp,...,secs_to_close,disp,arrv,beat,priority,zip,primeunit,units_dispd,units_arrived,date
41,2021,LAW,21000078,2021-01-01 01:22:21.000,NaN,SELF,SUBJECT DOWN,ASST,ASSISTED,1.0,...,676,1,1,EP07,1,97401,CAHOOT,1,1,2021-01-01
42,2021,LAW,21000083,2021-01-01 01:28:52.000,NaN,PHONE,TRAFFIC HAZARD,ASST,ASSISTED,288.0,...,2232,1,1,EP05,3,97402,CAHOOT,1,1,2021-01-01
52,2021,LAW,21000111,2021-01-01 01:54:53.000,NaN,PHONE,ASSIST PUBLIC- POLICE,ASST,ASSISTED,1365.0,...,3246,1,1,EP02,5,97401,CAHOOT,1,1,2021-01-01
54,2021,LAW,21000118,2021-01-01 02:03:53.000,NaN,PHONE,TRAFFIC HAZARD,UTL,UNABLE TO LOCATE,132.0,...,790,1,0,EP03,3,97405,CAHOOT,1,1,2021-01-01
57,2021,LAW,21000131,2021-01-01 02:20:48.000,NaN,PHONE,CHECK WELFARE,ASST,ASSISTED,1965.0,...,2707,1,1,EP07,7,97401,CAHOOT,1,1,2021-01-01

In [31]:
call_vol = calls.groupby('date').size().reset_index(name='call_volume')
call_vol.head()

         date  call_volume
0  2021-01-01           42
1  2021-01-02           30
2  2021-01-03           39
3  2021-01-04           50
4  2021-01-05           58

In [32]:
weather_files = ['Eugene, OR, United States... 2021-01-01 to 2023-08-09.csv', 'Eugene Oregon 2023-08-10 to 2025-04-25.csv']
weather = pd.concat([pd.read_csv(f) for f in weather_files], ignore_index=True)

In [33]:
weather['date'] = pd.to_datetime(weather['datetime']).dt.date
weather.head()

,name,datetime,tempmax,tempmin,temp,feelslike,dew,humidity,precip,precipprob,...,winddir,sealevelpressure,solarradiation,solarenergy,uvindex,severerisk,conditions,description,source,date
0,"Eugene, OR, United States",2021-01-01,55.1,47.0,48.8,44.9,42.7,79.6,0.194,100,...,169.9,1016.0,25.2,2.2,2,NaN,"Rain, Overcast",Cloudy skies throughout the day with rain.,obs,2021-01-01
1,"Eugene, OR, United States",2021-01-02,51.2,46.1,49.2,44.8,44.3,83.3,0.368,100,...,175.3,1015.7,14.5,1.2,1,NaN,"Rain, Overcast",Cloudy skies throughout the day with rain.,obs,2021-01-02
2,"Eugene, OR, United States",2021-01-03,52.1,42.2,49.5,47.7,45.3,85.8,0.385,100,...,183.4,1015.2,19.5,1.6,1,NaN,"Rain, Overcast",Cloudy skies throughout the day with rain.,obs,2021-01-03
3,"Eugene, OR, United States",2021-01-04,52.1,43.1,48.6,45.6,43.8,83.3,0.824,100,...,207.2,1009.9,20.0,1.6,1,NaN,"Rain, Partially cloudy",Partly cloudy throughout the day with a chance...,obs,2021-01-04
4,"Eugene, OR, United States",2021-01-05,50.0,37.1,44.8,40.0,36.9,74.5,0.000,0,...,172.0,1019.6,18.4,1.6,1,NaN,Partially cloudy,Partly cloudy throughout the day.,obs,2021-01-05

In [34]:
merged = pd.merge(call_vol, weather, on='date', how='inner')
merged.head()

,date,call_volume,name,datetime,tempmax,tempmin,temp,feelslike,dew,humidity,...,windspeedmin,winddir,sealevelpressure,solarradiation,solarenergy,uvindex,severerisk,conditions,description,source
0,2021-01-01,42,"Eugene, OR, United States",2021-01-01,55.1,47.0,48.8,44.9,42.7,79.6,...,5.8,169.9,1016.0,25.2,2.2,2,NaN,"Rain, Overcast",Cloudy skies throughout the day with rain.,obs
1,2021-01-02,30,"Eugene, OR, United States",2021-01-02,51.2,46.1,49.2,44.8,44.3,83.3,...,8.1,175.3,1015.7,14.5,1.2,1,NaN,"Rain, Overcast",Cloudy skies throughout the day with rain.,obs
2,2021-01-03,39,"Eugene, OR, United States",2021-01-03,52.1,42.2,49.5,47.7,45.3,85.8,...,0.0,183.4,1015.2,19.5,1.6,1,NaN,"Rain, Overcast",Cloudy skies throughout the day with rain.,obs
3,2021-01-04,50,"Eugene, OR, United States",2021-01-04,52.1,43.1,48.6,45.6,43.8,83.3,...,0.0,207.2,1009.9,20.0,1.6,1,NaN,"Rain, Partially cloudy",Partly cloudy throughout the day with a chance...,obs
4,2021-01-05,58,"Eugene, OR, United States",2021-01-05,50.0,37.1,44.8,40.0,36.9,74.5,...,4.7,172.0,1019.6,18.4,1.6,1,NaN,Partially cloudy,Partly cloudy throughout the day.,obs

In [35]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1556 entries, 0 to 1555
Data columns (total 30 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              1556 non-null   object
 1   call_volume       1556 non-null   int64
 2   name              949 non-null    object
 3   datetime          1556 non-null   object
 4   tempmax           1556 non-null   float64
 5   tempmin           1556 non-null   float64
 6   temp              1556 non-null   float64
 7   feelslike         1556 non-null   float64
 8   dew               1556 non-null   float64
 9   humidity          1556 non-null   float64
 10  precip            1556 non-null   float64
 11  precipprob        1556 non-null   int64
 12  precipcover       1556 non-null   float64
 13  preciptype        634 non-null    object
 14  snow              1556 non-null   float64
 15  snowdepth         1556 non-null   float64
 16  windgust          1556 non-null   float64
 17  windspeed         1556 non-null   float64
 18  windspeedmax      1556 non-null   float64
 19  windspeedmean     1556 non-null   float64
 20  windspeedmin      1556 non-null   float64
 21  winddir           1556 non-null   float64
 22  sealevelpressure  1556 non-null   float64
 23  solarradiation    1556 non-null   float64
 24  solarenergy       1556 non-null   float64
 25  uvindex           1556 non-null   int64
 26  severerisk        607 non-null    float64
 27  conditions        1556 non-null   object
 28  description       1556 non-null   object
 29  source            1556 non-null   object
dtypes: float64(20), int64(3), object(7)
memory usage: 364.8+ KB

In [36]:
cols_to_drop = [
    'source', 'date', 'name', 'dew', 'humidity', 'precipprob', 'precipcover',
    'windspeedmean', 'windspeedmin', 'winddir', 'sealevelpressure',
    'solarradiation', 'solarenergy', 'uvindex'
]
cleaned = merged.drop(columns=cols_to_drop)
cleaned.head()

,call_volume,datetime,tempmax,tempmin,temp,feelslike,precip,preciptype,snow,snowdepth,windgust,windspeed,windspeedmax,severerisk,conditions,description
0,42,2021-01-01,55.1,47.0,48.8,44.9,0.194,rain,0.0,0.0,35.6,19.7,19.7,NaN,"Rain, Overcast",Cloudy skies throughout the day with rain.
1,30,2021-01-02,51.2,46.1,49.2,44.8,0.368,rain,0.0,0.0,35.6,20.8,20.8,NaN,"Rain, Overcast",Cloudy skies throughout the day with rain.
2,39,2021-01-03,52.1,42.2,49.5,47.7,0.385,rain,0.0,0.0,41.8,20.8,20.8,NaN,"Rain, Overcast",Cloudy skies throughout the day with rain.
3,50,2021-01-04,52.1,43.1,48.6,45.6,0.824,rain,0.0,0.0,44.3,15.0,15.0,NaN,"Rain, Partially cloudy",Partly cloudy throughout the day with a chance...
4,58,2021-01-05,50.0,37.1,44.8,40.0,0.000,NaN,0.0,0.0,30.4,16.1,16.1,NaN,Partially cloudy,Partly cloudy throughout the day.

In [37]:
cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1556 entries, 0 to 1555
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   call_volume   1556 non-null   int64
 1   datetime      1556 non-null   object
 2   tempmax       1556 non-null   float64
 3   tempmin       1556 non-null   float64
 4   temp          1556 non-null   float64
 5   feelslike     1556 non-null   float64
 6   precip        1556 non-null   float64
 7   preciptype    634 non-null    object
 8   snow          1556 non-null   float64
 9   snowdepth     1556 non-null   float64
 10  windgust      1556 non-null   float64
 11  windspeed     1556 non-null   float64
 12  windspeedmax  1556 non-null   float64
 13  severerisk    607 non-null    float64
 14  conditions    1556 non-null   object
 15  description   1556 non-null   object
dtypes: float64(11), int64(1), object(4)
memory usage: 194.6+ KB

In [38]:
extremes = (
    (cleaned['tempmax'] > 97) |
    (cleaned['tempmin'] < 25) |
    (cleaned['windspeed'] > 25) |
    (cleaned['precip'] > 1) |
    (cleaned['snow'] > 1)
)
extreme_days = cleaned[extremes]
non_extreme_days = cleaned[~extremes]

In [39]:
extreme_days.head()

,call_volume,datetime,tempmax,tempmin,temp,feelslike,precip,preciptype,snow,snowdepth,windgust,windspeed,windspeedmax,severerisk,conditions,description
33,51,2021-02-03,48.8,34.1,40.8,35.4,0.573,rain,1.1,0.6,36.0,23.0,23.0,NaN,"Rain, Partially cloudy",Partly cloudy throughout the day with early mo...
77,52,2021-03-19,54.0,38.0,45.1,40.8,0.079,rain,0.0,0.0,38.3,25.3,25.3,NaN,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.
102,41,2021-04-13,65.9,38.0,51.7,48.1,0.000,NaN,0.0,0.0,35.6,25.3,25.3,NaN,Clear,Clear conditions throughout the day.
176,63,2021-06-26,102.8,62.1,83.5,84.4,0.000,NaN,0.0,0.0,21.0,15.5,15.5,NaN,Clear,Clear conditions throughout the day.
177,80,2021-06-27,110.9,68.0,88.9,90.5,0.000,NaN,0.0,0.0,26.4,18.3,18.3,NaN,Clear,Clear conditions throughout the day.

In [40]:
non_extreme_days.head()

,call_volume,datetime,tempmax,tempmin,temp,feelslike,precip,preciptype,snow,snowdepth,windgust,windspeed,windspeedmax,severerisk,conditions,description
0,42,2021-01-01,55.1,47.0,48.8,44.9,0.194,rain,0.0,0.0,35.6,19.7,19.7,NaN,"Rain, Overcast",Cloudy skies throughout the day with rain.
1,30,2021-01-02,51.2,46.1,49.2,44.8,0.368,rain,0.0,0.0,35.6,20.8,20.8,NaN,"Rain, Overcast",Cloudy skies throughout the day with rain.
2,39,2021-01-03,52.1,42.2,49.5,47.7,0.385,rain,0.0,0.0,41.8,20.8,20.8,NaN,"Rain, Overcast",Cloudy skies throughout the day with rain.
3,50,2021-01-04,52.1,43.1,48.6,45.6,0.824,rain,0.0,0.0,44.3,15.0,15.0,NaN,"Rain, Partially cloudy",Partly cloudy throughout the day with a chance...
4,58,2021-01-05,50.0,37.1,44.8,40.0,0.000,NaN,0.0,0.0,30.4,16.1,16.1,NaN,Partially cloudy,Partly cloudy throughout the day.

In [ ]:
extreme_days.to_csv('extreme_days.csv', index=False)
non_extreme_days.to_csv('non_extreme_days.csv', index=False)
cleaned.to_csv('merged.csv', index=False)